#div1{
    height:61px;

    background-color:#000000;
     
     
     display:flex;
     align-items: center;
      gap: 8px;
      padding-left:100px;


}
 #div3{
  background-color:#1f1f1f;
  height:50px;
  width:50px;  
  border-radius:50%;
  
  
} 
#div2{
background-color:#1f1f1f;
height:50px;
width:500px;
border-radius:100px;

}
#id{
    padding-left:80px;
}
.h4 {
    color:rgb(145, 142, 142);
    position:relative;
    padding-left:8px;
   text-shadow: 0 10px 10px rgba(182, 180, 180, 0.35);
    transition: 0.3s ease;

}
.h4:hover{
    color:aliceblue;
}
